<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <title>TiTaTo Busters</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <!-- Custom styles for this template -->
  <link href="../public/css/floating-labels.css" rel="stylesheet">
</head>

<body>

  <form class="form-signin">
    <div class="text-center mb-4">
      <h1 class="cover-heading mb-5">
        <img src="../public/images/avatar2.svg" alt="" class="mr-2" height="100px" width="100px">
      </h1>
      <h1 class="h3 mb-3 font-weight-normal">TiTaTo</h1>
      <p>Sign in or
      <!-- CREATE USER -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Register Here
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-label-group">
                  <input type="text" id="inputNewUser" class="form-control" placeholder="User Name" autofocus required>
                  <label for="inputNewUser">User Name</label>
                </div>
                <!-- PASSWORD -->
                <div class="form-label-group">
                  <input type="password" id="newPassword" class="form-control" placeholder="New Password" required>
                  <label for="newPassword">Password</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">
                  <a class="btn btn-light" id="createUser" href="/game">Create Account</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </p>
    </div>
    <!-- LOGIN -->
    <!-- USERNAME -->
    <div class="form-label-group">
      <input type="text" id="inputUserName" class="form-control" placeholder="User Name" autofocus required>
      <label for="inputUserName">User Name</label>
    </div>
    <!-- PASSWORD -->
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <!-- SIGN IN BUTTON -->
    <h3 class="mt-5 mb-3 text-center">
      <a href="/game" id="login-user">SIGN IN</a>
    </h3>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
  </form>

  <script src="../public/js/userlogin.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>